.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rainbowGlow {
  0% {
    stroke: #ff0000;
    fill: #ff0000;
  }
  20% {
    stroke: #ff9900;
    fill: #ff9900;
  }
  40% {
    stroke: #ffff00;
    fill: #ffff00;
  }
  60% {
    stroke: #00ff00;
    fill: #00ff00;
  }
  80% {
    stroke: #0000ff;
    fill: #0000ff;
  }
  100% {
    stroke: #ff00ff;
    fill: #ff00ff;
  }
}

.rainbow-glow {
  animation: rainbowGlow 2s linear infinite;
}
.hide-scrollbar {
  scrollbar-width: none; /* Para Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Edge */
}
